<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wizag.com.supa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNmyGXMTYmRIpOV3cvrYjZEjv4bugxuK4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name=".PlaceContentProvider"
            android:authorities="wizag.com.supa"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".NewOrderActivity" />
        <activity android:name=".OrderSummaryActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".SupplyActivity" />
        <activity
            android:name=".Activity_Sell"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity_Sell" />
        </activity>
        <activity android:name=".Activity_Wallet" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CheckInActivity" />
        <activity android:name=".TripsActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".MyTripsActivity" />
        <activity android:name=".SuppliesActivity" />
        <activity android:name=".PaymentsActivity" />
        <activity android:name=".OrdersActivity" />
        <activity
            android:name=".Activity_Buy"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity_Buy" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />

        <activity android:name=".CurrentLocationActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Activity_Location"
            android:label="@string/title_activity__location" />
        <activity android:name=".TestActivity">

        </activity>
        <activity android:name=".Activity_Search_Places" />
        <activity android:name=".Activity_Register" />
        <activity android:name=".Activity_Quotation" />
        <activity android:name=".Activity_Asset_Tracking" />
        <activity android:name=".Activity_Notifications" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".SecondActivity"></activity>
    </application>

</manifest>